.carousel-container {
    .carousel-inner {
      display: flex;
      justify-content: center;
    }
  
    .carousel-item {
      display: flex;
      justify-content: center;
      width: 100%;
      transition: transform 0.6s ease-in-out;
    }
  
    .card-container {
      display: flex;
      justify-content: center;
      width: 33.33%;
    }
  
    .card {
      width: 100%;
      margin: 0 10px;
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      position: relative;
    }
  
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: black;
    }
  }
  