.select-a-file-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.speech-bubble {
  background: #f0f0f0; /* Light gray background */
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px; /* Space between image and speech bubble */
  position: relative;
  max-width: 200px; /* Limit the width of the speech bubble */
  border: 2px solid var(--bs-primary); /* Outline with primary color */
}

.speech-bubble::before {
  content: '';
  position: absolute;
  top: 50%; /* Center the arrow vertically */
  left: -36px; /* Position to the left of the bubble */
  transform: translateY(-50%); /* Center the arrow vertically */
  border-width: 20px; 
  border-style: solid;
  border-color: transparent #f0f0f0 transparent transparent; /* Triangle pointing left with body color */
  z-index: 1; /* Ensure the body-colored arrow is above the red arrow */
}

.speech-bubble::after {
  content: '';
  position: absolute;
  top: 50%; /* Center the arrow vertically */
  left: -36px; /* Position to the left of the bubble */
  transform: translateY(-50%); /* Center the arrow vertically */
  border-width: 18px;
  border-style: solid;
  border-color: transparent red transparent transparent; /* Triangle pointing left with red border */
  z-index: 0; /* Ensure the red arrow is below the body-colored arrow */
}
