.custom-button {
  position: relative;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-right: 15px;
  height: 40px;
  --arrow-color: currentColor; /* Default color, can be updated with JS */
}

.custom-button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -13px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 13px solid var(--arrow-color);
  transform: translateY(-50%);
}
