.mapsearch {
    display: block;
    // vertical-align: top;
    // position: relative;
    // width: calc(90% - 170px);
    width: 90%;
    height: 160px;
    margin-left: 5%;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: white;
    // border: 1px solid grey;
    z-index: 450;

    .places {
        overflow-y: auto;
        max-height: 70%; 
        padding-bottom: 1rem;
    }
}