@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$primary:       green;
$secondary:     $gray-600 !default;
$tertiary:      $gray-400 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
$primary:       purple;
$secondary:     black;
$success:       #00c94b;
$info:          #b85b61;
$warning:       #fbcf00;
$danger:        #ff1c44;
$light:         #dddddd;
$dark:          #1b1a1a;
$white:         #ffffff;

// $primary:       #00d4bb;
// $secondary:     #e95628;
// $success:       #00c94b;
// $info:          #b85b61;
// $warning:       #fbcf00;
// $danger:        #ff1c44;
// $light:         #d1ccb9;
// $dark:          #1b1a1a;
// scss-docs-end theme-color-variables

/*
https://huemint.com/bootstrap-basic/#palette=fffcec-ffffff-161b19-00d4bb-166445-d1730b
    "light":      #fffcec,
    "dark":       #161b19,
    "primary":    #00d4bb,
    "secondary":  #166445,
    "info":       #d1730b,
    "success":    #00b644,
    "warning":    #f5ca00,
    "danger":     #fb003c,
    */

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
$custom-colors: (
  "event": #009984,
  "party": #465ca9,
  "white": #ffffff,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Export the color palette to make it accessible to JS
:export {
    primary: $primary;
    secondary: $secondary;
    success: $success;
    info: $info;
    warning: $warning;
    danger: $danger;
    light: $light;
    dark: $dark;
}

:root {
  @each $color, $value in $theme-colors {
    --#{$color}-light: #{lighten($value, 45%)};
    --bs-#{$color}-light: #{lighten($value, 45%)};
  }
}
