@import "../../styles/colors.scss";

.qrcodecontainer {
  padding: 0px;
  width: 100%;
  max-width: 90vw;
}
#react-qrcode-logo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
