@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; // Full viewport height
  padding-bottom: env(safe-area-inset-bottom);
}

.mobile {
  padding-bottom: env(
    safe-area-inset-bottom,
    20px
  ); // Fallback to 20px if the device doesn't support safe area insets
  height: calc(100vh - 40px);
}

.app-header,
.app-footer {
  background-color: #f8f9fa; // Light grey color, change as needed
  text-align: center;
}

.app-body {
  flex: 1; // This allows the body to take up the remaining space
  overflow-y: auto; // Enable vertical scrolling for overflow content
  overflow-x: hidden;
}

body {
  background-color: #{lighten($primary, 60%)};
}
