@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$footer-height: 60px;
$header-height: 50px;
$icon-bar-height: 50px;

$card-spacer-y: 0.5rem; 
$card-spacer-x: 0.5rem; 

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-top {
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; 
}

.icon-bar {
  height: $icon-bar-height;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f9fa;
  position: fixed;
  top: $header-height; // Place it right below the header
  width: 100%;
  z-index: 10;
}

.content-section {
  flex: 1;
  overflow-y: auto;
  padding-bottom: $footer-height; // To prevent overlap with footer
  margin-top: calc(#{$header-height} + #{$icon-bar-height}); // Start below both header and icon bar
}

.footer-nav {
  height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #007bff;
  color: #fff;
  padding-bottom: env(safe-area-inset-bottom); // Avoid overlap with mobile footer
  position: fixed;
  bottom: 0;
  width: 100%; // Ensure footer takes full width
  z-index: 999;
}
