.loyalty-cards {
  height: 100%;

  .carousel-inner {
    height: 100%;
  }
  .carousel-caption {
    color: var(--bs-primary);
    bottom: unset;
  }
  .loyalty-card-caption {
    position: absolute;
    right: 15%;
    top: 1.25rem;
    left: 15%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
  }
  .loyalty-card--control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='purple' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .loyalty-card--control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='purple' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
}
