$bright-red: #ff0000;
$bright-green: #009900;

// Bootstrap standard theme colors
$primary: $bright-red;
$secondary: $bright-green;
$success: #28a745; // Bright Green
$danger: #dc3545; // Bright Red
$warning: #ffc107; // Bright Yellow
$info: #17a2b8; // Bright Cyan
$light: #f8f9fa; // Light Gray
$dark: #343a40; // Dark Gray

// Import Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";

// Ensure body fills full height and scrolls if overflowing
html,
body {
  height: 100%;
  margin: 0;
}

.homepage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  height: 60px; // Set a fixed height for the top section
  position: sticky;
  top: 0;
  background-color: $primary; // Example color
}

.middle {
  flex: 1;
  overflow-y: auto;
  background-color: $light;
  display: flex;
  flex-direction: column;
}

.bottom {
  height: 40px; // Set a fixed height for the bottom section
  position: sticky;
  bottom: 0;
  background-color: $secondary; // Example color
}
