.select-location-modal {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100vw;
  max-height: calc(100vh - 120px);
  min-height: calc(90vh - 120px);
}

.select-location-modal .modal-body {
  overflow-y: auto;
  flex: 1 1 auto;
}
