.img-preview {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  display: block;
  max-height: calc(100vh - 200px); /* Ensures the image fits within the viewport */
  object-fit: contain; /* Makes sure the image is scaled correctly */
}
