.news-thumb {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  padding: 8px;

  .news-thumb-image {
    flex-shrink: 0;
    width: 25%;
    height: auto;
    max-height: 150px; /* Ensure the image height */
    object-fit: contain; /* show the whole image, do not crop */
    background-color: #f7f7f7;
    display: block;
    margin-right: 15px;
  }

  .news-thumb-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden; /* Ensure content does not cause overflow */
    max-height: 150px; /* Match the max height of the image */
  }

  .news-thumb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .edit-icon {
    cursor: pointer;
    color: #777;
  }

  .news-thumb-title {
    font-size: 1em; /* Adjusted font size */
    margin-bottom: 5px; /* Retained margin at the bottom */
  }

  .news-thumb-meta {
    font-size: 0.85em;
    color: #777;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .news-thumb-body {
    font-style: italic;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em; /* Ensures the text doesn't exceed the image height */
    line-height: 1.5em; /* Adjust line height to control text overflow */
  }
}
