.partner-bar {
    background-color: black;

    .primary {
      background-color: black !important; 
      color: white;
    }
    .nav-link {
      box-sizing: border-box;
      border: 1px solid transparent;
      padding: 0.1rem;
      margin: 0px 5px;
      width: 32px;
      
      &:hover {
        color: white;
        border: 1px solid white; //var(--bs-secondary);
        border-radius: 50%;
      }
    }
  }