@import '~bootstrap/scss/bootstrap';

/* Existing styles... */

/* Decrease spacing between lines for topics in the list */
.topic-list .topic {
  margin-bottom: 0.5rem; /* Adjust this value as needed */
}

.room-list .room h3 {
  display: flex;
  justify-content: space-between; /* Ensure right alignment of unread topics */
}
